@model IEnumerable<Nazox.Models.Quotation>


@{
    ViewBag.Title = "Index";
    
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuotationDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuotationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuotationDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuotationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Quotation_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.Quotation_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Quotation_ID })
            </td>
        </tr>
    }

</table>*@

<table class="table">
    <tr>
        <th>
           Description
        </th>
        <th>
            Amount
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in ViewBag.quotes)
    {
        <tr>
            <td>
             @item.q.QuotationDescription 
            </td>
            <td>
                @item.q.Amount
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Quotation_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.Quotation_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Quotation_ID })*@
            </td>
        </tr>
    }

</table>

