@model Nazox.Models.Candidate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Candidate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CandidateSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidateSurname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandidateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandidateEmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidateEmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CandidatePhonNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CandidatePhonNum)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Candidate_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
