@model IEnumerable<Nazox.Models.Quotation>

@{
    ViewBag.Title = "My Quotations";
}

<h2>My Quotations</h2>

<link href="~/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />

<!-- DataTables -->
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
<!-- Responsive datatable examples -->
<link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/app.min.css" rel="stylesheet" />

<p>
    <a href="@Url.Action("Create")" class="btn btn-primary waves-effect waves-light">Add Employee</a>
</p>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">WENDA Logistics</h4>
                <p class="card-title-desc">
                    My Quotations
                </p>

                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.QuotationDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.QuotationDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Amount)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.QuotationDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QuotationDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Quotation_ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Quotation_ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Quotation_ID })
                            </td>
                        </tr>
                    }
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.QuotationDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.QuotationDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Amount)
                        </th>
                        <th></th>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>

<script src="~/assets/libs/jquery/jquery.min.js"></script>
<script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<script src="~/assets/libs/simplebar/simplebar.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<script src="~/assets/libs/node-waves/waves.min.js"></script>
<!-- apexcharts -->
<script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>
<script src="~/assets/libs/metismenu/metisMenu.min.js"></script>
<!-- jquery.vectormap map -->
<script src="~/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="~/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-us-merc-en.js"></script>

<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<script src="~/assets/js/pages/dashboard.init.js"></script>

<!-- App js -->
<script src="~/assets/js/app.js"></script>
