@model Nazox.Models.EmployeeType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeeType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { ids = Model.EmployeeType_ID ,}) |
    @Html.ActionLink("Back to List", "Index", new { id = ViewBag.UserId })
</p>
