@model Nazox.Models.TimeSlot

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-body BoxAndShadow">
        <div class="form-horizontal">
            <div class="content">
                <br />
                <h4>Time Slot</h4>
                <hr />

                @Html.HiddenFor(model => model.TimeSlot_ID)

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Date, "Date", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.StartTime, "Start Time", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control timepicker" } })
                        @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EndTime, "End Time", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control timepicker" } })
                        @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />

                @*<div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Delete" class="btn btn-danger waves-effect waves-light" data-toggle="modal" style="width:150px;" data-target="#exampleModal" />
                    </div>
                </div>*@
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" value="Delete" class="btn btn-danger waves-effect waves-light" data-toggle="modal" style="width:150px;" data-target="#exampleModal" >Delete</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

}

<br />

<div class="modal" tabindex="-1" role="dialog" id="exampleModal"> 
    <div class="modal-dialog" role="document"> 
    <div class="modal-content"> 
        <div class="modal-header"> 
        <h5 class="modal-title">Modal title</h5> 
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
            <span aria-hidden="true">&times;</span> 
            </button> 
            </div> 
        <div class="modal-body"> 
        <p>Modal body text goes here.</p> 
        </div>
        <div class="modal-footer"> 
        <form asp-action="Delete"> @* Name of your delete method@ <input type="hidden" asp-for="Id" /> @ Id so form knows which id to pass*@ 
        <button type="submit" class="btn btn-primary">Save changes</button> 
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close</button> 
            </form>
        </div> 
        </div> 
        </div>
    </div>

<div>
    <a href="@Url.Action("Index","TimeSlots",new { id = ViewBag.UserId })" class="btn btn-primary waves-effect waves-light">Back to Index</a>
</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/datepicker3.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-datepicker.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

    <script type="text/javascript">
        //---------------------------------Box shadow styling starts-------------------------------
        $('.BoxAndShadow').css('box-shadow', ' 0 0 10px #808080');
        $('.BoxAndShadow').hover(function () {

            $(this).css('box-shadow', ' 0 0 20px #808080');
        }, function () {
            $(this).css('box-shadow', ' 0 0 10px #808080');
        });
        //---------------------------------Box shadow styling ends---------------------------------

        $(document).ready(function () {

            $('.timepicker').timepicker({
                timeFormat: 'h:mm p',
                interval: 60,
                dynamic: false,
                dropdown: true,
                scrollbar: true

            });

        });
        $(document).ready(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd-mm-yy",
                changemonth: true,
                changeyear: true
            });
        });



    </script>

    @if (ViewBag.Dialogue != null)
    {
        <script>
            $(function () {
                $(#exampleModal).modal("show");
            });
        </script>
    }


}
